/* static/styles.css */
:root {
    /* --bgcolor: #4f7ae2;
    --ribbon-color: #223f81; */
    /* --bgcolor: linear-gradient(rgb(231, 23, 231),purple); */
    /* --bgcolor: rgb(231, 23, 231); */
    --bgcolor:white;
    --ribbon-color: #6A2C70;
    --text-color:white;
    --link-color: white;
    --main-color: linear-gradient(to right, #c400c4, var(--ribbon-color));

}

hr {
    background-color: black;
    height: 3px;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    /* width: 95%; */
    margin: 0 auto;
}

header {
    background-color: var(--bgcolor);
    color: white;
}

nav {
    background-color: var(--bgcolor);
    display: inline-flex;
    width: 100%;
}

nav img {
    height: 200px;

}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: linear-gradient(to right, var(--ribbon-color), #c400c4);
    border-bottom-left-radius: 40px;
    margin-bottom: 10px;
    margin-left: auto;    
    box-shadow: -1px 1px 10px grey; /* Shadow around each column */
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

nav ul li {
    display: inline;
    /* margin-left: 20px;  */
    margin-top: 20px; 
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
}

nav ul li a.button {
    border-radius: 5px;
}


.home-top {
    display: inline-flex;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.para {
    padding-right: 150px;
}

.para button {
    color: var(--ribbon-color);
    background: white;
    width: 200px;
    height: 50px;
    font-size: x-large;
    border-radius: 5px;
    border-width: 0px;
    padding: 0px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.para button:hover {
    color: white;
    background: var(--ribbon-color);
}

.top-body {
    background: var(--main-color);
}

main {
    background: var(--bgcolor);

}

.main-text hr {
    margin-right: 50%;
}

.main-module-body {
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
}

.main-image {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.main-text {
    text-align: left;
    width: 70%;
}



.main-text h1 {
    color: var(--text-color);
    font-size: 3em;
}

.main-text h1.web3 {
    font-size: 3.9em;
}

.main-text p {
    margin-right: 20px;
    color: var(--text-color);
    font-size: x-large;
}

.main-text p.send-to-family {
    font-size: 0.875em;
}

.three-columns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    padding-top: 75px;
    padding-left: 150px;
    padding-right: 150px;
}

.column-text {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.column h2 {
    margin-left: 20px;
}

.column-top {
    color: #6A2C70;
    padding-top: 75px;
    padding-left: 150px;
    font-size: 40px;
}

.column {
    width: 25%;
    background-color: #da00da;
    color: var(--bgcolor);
    border-radius: 5%;
    border: 3px solid black;
    box-shadow: -4px 4px 10px grey; /* Shadow around each column */

}

.image-circle {
    display: inline-flex;
    width: 100px;
    height: 100px;
    margin-left: 20px;

}

.image-circle img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.number {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--text-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background: linear-gradient(to right, var(--ribbon-color), #c400c4);
    color: var(--link-color);
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-content div {
    width: 30%;
    text-align: center;
}

.footer-content a {
    color: black;
}

/* .footer-content a{
    color: var(--link-color);
} */



.social-media, .legal {
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns links to the left. Use center if you want them centered */
    gap: 10px; /* Adds space between the links */
}

.icon-container {
}

.icons {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--bgcolor);
}

.icons img {
    width: 5%;
    height: 5%;
    margin: 0 0.625%; /* Set margin to 0.25 times the radius */
}

/* .dots {
    display: flex;
    justify-content: left;
    gap: 10px; 
    margin-bottom: 10px; 
} 

.dot {
    width: 10px; 
    height: 10px; 
    background-color: var(--text-color); 
    border-radius: 50%;
} */

i {
    margin-right: 20px;
}

.about-content {
    padding-right: 60%;
    font-size: 30px;
}


.about-content p, h1 {
    color: var(--text-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

.questions-content {
    padding-right: 60%;
    font-size: 30px;
}

.questions-content p {
    color: var(--text-color);
}

.questions-content .question p {

}

.answer {
    margin-bottom: 100px;
}

.answer-links {
    display: flex;
    flex-direction: column;
}

.hiw-content {
    padding-right: 60%;
    font-size: 30px;
}

.hiw-content p, li {
    color: var(--text-color)
}


.instructions {
    margin-bottom: 50px
}

.instructions li {
    margin-bottom: 20px;
}

@media (min-width: 600px) and (max-width: 1024px) {
    /* Your styles for tablets here */
    nav ul{
        padding-top: 0px;
        padding-bottom: 15px;
    }

    nav img {
        height: 120px;
    }

    nav ul li {
        font-size: 10px;
    }

    nav .icons {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .home-top {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center; /* Center-align all items horizontally */
        justify-content: center; /* Center-align all items vertically */
        text-align: center;
    }
    .home-top .main-text, .para{
        text-align: center;
        padding-right: 0px;
    }

    .home-top hr {
        margin: 0px;
    }

    .three-columns {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center-align all items horizontally */
        justify-content: center; /* Center-align all items vertically */
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 100px;
    }

    .column {
        width: 250px;
        margin-bottom: 50px;
    }

    .about-content {
        padding-right: 20%;
        padding-left: 20%;
    }

    .hiw-content {
        padding-right: 20%;
        padding-left: 20%;
    }

    .questions-content {
        padding-right: 20%;
        padding-left: 20%;
    }
}


@media (max-width: 600px) {
    /* Your styles for mobile devices here */

    .nav {
        width: 500px;
    }

    nav img {
        height: 120px;
    }

    nav ul li {
        font-size: 8px;
        margin: 0px
    }

    nav .icons {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    html {
        width: 650px;
    }

    .home-top {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center; /* Center-align all items horizontally */
        justify-content: center; /* Center-align all items vertically */
        text-align: center;
    }

    .home-top .main-text, .para{
        text-align: center;
        padding-right: 0px;
    }

    .home-top hr {
        margin: 0px;
    }

    .three-columns {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center-align all items horizontally */
        justify-content: center; /* Center-align all items vertically */
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 100px;
    }

    .column {
        width: 250px;
        margin-bottom: 50px;
    }

    .about-content {
        padding-right: 20%;
        padding-left: 20%;
    }

    .hiw-content {
        padding-right: 20%;
        padding-left: 20%;
    }

    .questions-content {
        padding-right: 20%;
        padding-left: 20%;
    }
}





