{% extends "base.html" %}

{% block main %}
<div class="top-body">
    <div class="home-top">
        <div class="about-content">
            <h1>ABOUT</h1>
            <hr>
            <p>Remitter is a decentralized finance (DeFi) user interface that is powered by TrueSPAC Web3 Crypto.</p>
            <p>Money transfer such as MoneyGram or Western Union, charge on average 6.39% eating away at the total amount of funds sent to the recipient.</p>
            <p>Using Crypto allows for lower fees, as low as 2% or less, with instant transfer from sender to recipient.</p>
            <p>Remitter simply is a process where a Crypto wallet owner can send Crypto to another wallet, while maximizing either their Crypto friendly Visa, or MasterCard debit card, or by way of using the recipient Web3 personal domain name.</p>
        </div>
    </div>
</div>
{% endblock %}