{% extends "base.html" %}

{% block main %}
<div class="top-body">
    <div class="home-top">
        <div class="hiw-content">
            <h1>HOW IT WORKS</h1>
            <hr>
            <!-- <div class="title">
                <p><strong>Select Wallet</strong></p>
            </div>
            <div class="instructions">
                <ol>
                    <li>Select Web3 wallet, or sign up for TrueSPAC Web3 Wallet.</li>
                    <li>Buy, and or Swap Crypto for your desired RDUC.</li>
                </ol>
            </div>

            <div class="title">
                <p><strong>Crypto Debit Card</strong></p>
            </div>
            <div class="instructions">
                <ol>
                    <li>Sign up for virtual Crypto debit card for free, or order your physical card of choice.</li>
                    <li>Follow card instructions, and top up your card with RDUC Crypto (Earn rewards using RDUC tokens) or select other listed Crypto.</li>
                </ol>
            </div>

            <div class="title">
                <p><strong>Send & Receive Crypto</strong></p>
            </div>
            <div class="instructions">
                <ol>
                    <li>Send Web3 funds/Crypto to wallet address of choice, by selecting recipient wallet address from your contact list, or use the recipient Web3 personal domain name as a wallet address. Ex: joepiper.jamaica-wi & that's it.</li>
                    <li>After receiving Web3 funds in your wallet, top up your virtual or physical Crypto debit card, and use it like cash, anywhere Visa or MasterCard is accepted.</li>
                </ol>
            </div> -->
            <ol>
                <li>Select listed Web3 wallet or sign up for TrueSPAC Web3 Wallet. Buy, and or Swap Crypto for your desired Regional, Domestic, Utility, Stablecoins (RDUC).</li>
                <li>Crypto Debit Card Sign up for a virtual Crypto debit card for free or order your physical card of choice. Follow card instructions and top up your card with RDUC Crypto (Earn rewards using RDUC tokens) or select other listed Crypto.</li>
                <li>Send & Receive Crypto</li>
                <p>Send Web3 funds/Crypto to the wallet address of choice, by selecting the recipient wallet address from your contact list or use the recipient Web3 personal domain name as a wallet address & that's it.</p>
                <li>After receiving Web3 funds in your wallet, top up your virtual or physical Crypto debit card, and use it like cash, anywhere Visa card is accepted.</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}