{% extends "base.html" %}

{% block main %}
<div class="home-content">
    <!-- <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div> -->
    <div class="top-body">
        <div class="home-top">
            <div class="main-text">
                <!-- <h1>Web3 Remittance</h1> -->
                <h1>Web3 Crypto, International Remittance,</h1> 
                <h1>Lowest Fees, Ultra Fast.</h1>
                <div class="para">
                    <p><strong>Fiat to Crypto, Crypto to Fiat, transfer.</strong></p>
                    <hr>
                    <p><strong>Send to family and friends Regional, Domestic, Utility Coins (RDUC), such as US$C, CB$C, JM$C, AS$C, EU$C, AF$C, or any listed Stablecoins, such as USDT.</strong></p>
                    <button type="button"><strong>Send Crypto</strong></button>
                </div>
            </div>
            <div class="main-image">
                <img src="{{ url_for('static', filename='download.png') }}" alt="download">
            </div>
        </div>
        
    </div>
    <h1 class="column-top">Three simple steps to send Web3 Crypto Remittance</h1>
    <div class="three-columns">
        
        <div class="column">
            <div class="image-circle">
                <img src="{{ url_for('static', filename='Select Wallet.png') }}" alt="Select Wallet">
                <!-- <div class="number">1</div> -->
                <div class="column-heading">
                    <h2>Select Wallet</h2>
                </div>
            </div>
            <div class="column-text">
                <p>Web3 wallet, buy & swap Crypto.</p>
            </div>
            
        </div>
        <div class="column">
            <div class="image-circle">
                <img src="{{ url_for('static', filename='Crypto Card.png') }}" alt="Crypto Card">
                <!-- <div class="number">2</div> -->
                <div class="column-heading">
                    <h2>Crypto Card</h2>
                </div>
            </div>
            <div class="column-text">
                <p>Sign up for virtual Crypto debit card for free.</p>
            </div>
        </div>
        <div class="column">
            <div class="image-circle">
                <img src="{{ url_for('static', filename='Send Crypto.png') }}" alt="Send Crypto">
                <!-- <div class="number">3</div> -->
                <h2>Send Crypto</h2>
            </div>
            <div class="column-text">
                <p>Send Web3 funds/Crypto to wallet address or card.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}