{% extends "base.html" %}

{% block main %}
<div class="questions-content">
    <h1>Q&A</h1>
    <hr>
    <div class="question">
        <p><strong>Is Remitter legal in Jamaica, considering the founder, and development team are based in Jamaica?</strong></p>
    </div>
    <div class="answer">
        <p>The Central Bank of Jamaica, known as the Bank of Jamaica, does not recognize Cryptocurrency, as money, nor as currency.</p>
        <p>Remitter is not illegal, nor is Remitter participating in any custodial services of Fiat money, Cryptocurrency, nor offering Securities.</p>
    </div>

    <div class="question">
        <p><strong>Does Remitter require a VASP or a license to operate in Jamaica?</strong></p>
    </div>
    <div class="answer">
        <p>The Financial Services Commission (FSC) of Jamaica, is currently working on a Digital Asset framework, or policy as it pertains to Cryptocurrency and virtual asset providers (VASP).</p>
        <p>The FSC communications with stakeholders in the sector, of which Remitter/TrueSPAC Web3 Crypto, team, has been doxed with the FSC.</p>
    </div>

    <div class="question">
        <p><strong> How does Remitter offer Crypto debit cards? </strong></p>
    </div>
    <div class="answer">
        <p>The Fiat to Crypto, and Crypto to Fiat on ramp, and off ramp service, are provided by tier 1 service provider, that has global permits per jurisdiction, in which Remitter seeks to offer its services, which include Crypto debit cards such as Visa or MasterCard.</p>
    </div>

    <div class="question">
        <p><strong>Why was Remitter created?</strong></p>
    </div>
    <div class="answer">
        <p>The founder having observed the inefficient, expensive, and cumbersome experience of the consumer, created Remitter with a seamless user experience (UX), that allows the consumer the ability to attain a  optimal outcome, by lowering cost, in a transparent way, visible over the Blockchain.</p>
    </div>

    <div class="question">
        <p><strong>Why OKX wallet is not listed?</strong></p>
    </div>
    <div class="answer">
        <p>OKX wallet will be listed soon as Remitter expands.</p>
        <p>In the interim, you can read up on OKX resource on wallets here:</p>
        <div class="answer-links">
            <a href="https://www.okx.com/learn/what-is-web3-wallet" target="_blank">What is Web3 wallet</a>
            <a href="https://fsr-develop.com/how-to-get-kyc-on-okx-okex" target="_blank">How to get KYC on OKX</a>
        </div>

    </div>

    <div class="question">
        <p><strong>What are RDUCs?</strong></p>
    </div>
    <div class="answer">
        <p>RDUC is Regional, Domestic, Utility Coin, that is a Web3 hybrid Stablecoin, that does not meet the legal definition of money, digital or otherwise, nor are they currency, while it is pegged to the US dollar.</p>
    </div>

    <div class="question">
        <p><strong>What is a Web3 personal domain name?</strong></p>
    </div>
    <div class="answer">
        <p>Web3 personal domain name, is a secondary domain name, linked to a top level domain name (TLD).</p>
        <p>Example: Joepiper.jamaica-wi is a secondary domain name, with .jamaica-wi being the TLD.</p>
    </div>

    <div class="question">
        <p><strong>How does a Web3 personal domain name work with Remitter? </strong></p>
    </div>
    <div class="answer">
        <p>A Web3 personal domain name, once integrated and mapped to a wallet address, can take the place of the long string of characters typically associated with a Crypto wallet address.</p>
        <p>Example: 1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa is mapped, and replaced with joepiper.jamaica.wi</p>
        <p>Sending Joe Piper Crypto is as easy as selecting the amount, and typing his Web3 domain name that is also a Web3 email address.</p>
    </div>

    <div class="question">
        <p><strong>Where can I purchase a high quality Web3 personal domain name? </strong></p>
    </div>
    <div class="answer">
        <p>Get your Web3 personal domain name, Web3 email address, as low as US$10 at <a href="http://web3.truespac.com/" target="_blank">http://web3.truespac.com/</a></p>

            

    </div>

    


</div>
{% endblock %}